<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
      <add key="FlatIconContentPath" value=".\Content\Flaticon" />
      <add key="OpenWeatherMapContentPath" value=".\Content\OpenWeatherMap" />
      <add key="BoatingAreaConfigPath" value=".\Content\ThreeBoatingArea.json" />
      
      <add key="PeriodicMs" value="5000" />
      <add key="MaxMinsBeforeUpdateRequired" value="10" />
      <add key="DefaultBoatingAreaTitle" value="Sandy Point" />
      <add key="OpenWeatherMapAPIKey" value="" />
    </appSettings>
</configuration>